<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>50_Startup</title>
</head>
<body>
    <form action="/predict" method="POST">
        <label>R&D value: </label>
        <input type="search" name="R&D value"><br><br>
        <label>Administration: </label>
        <input type="search" name="Administration"><br><br>
        <label>Market: </label>
        <input type="search" name="Market"><br><br>
        <label>State: </label>
        <input type="search" name="State"><br><br>
        <input type="submit" name="submit"><br><br>
        Profit: {{profit}}
    </form>
</body>
</html>